/*
Custom CSS stylesheet for Ice Box Hockey Shop Site

Michael Mazur
7/21/2015 - DWS2
*/

/* Main CSS */

#wrapper {
    margin-top: 20px;
    padding: 0;
}
img {
    max-width: 100%;
}
/* Header CSS */
header {
    overflow: auto;
    margin-bottom: 15px;
}
.logo {
    float: left;
}
.logo a img {
    max-width: 100%;
}
nav {
    float: right;
    margin-top: 45px;
}
nav ul li {
    display: inline;
    padding: 0 15px;
    border-right: 1px solid #ccc;
}
nav ul li a {
    text-decoration: none;
}
/* Slider CSS*/

.slider {
    margin-left: -100%;
    margin-right: -100%;
    padding-left: 100%;
    padding-right: 100%;
    background-image: url('../images/Slider-bg.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
}

/*Services Section */
#services {
    margin-top: 50px;
}
#services div h5 {
    text-align: center;
}
#services div p, #services div a {
    text-align: left;
}
#services img {
    width: 100%;
}

/* Why Us Section */
#why {
    margin-top: 25px;
}
#why .five {
    margin-left: 0;
}
#why .seven table {
    background: #f8f8f8;
    border: 1px solid #ccc;
}
#why .seven table td {
    padding-left: 5px;
}
#why .seven table th {
    background: #33C3F0;
    color: #fff;
}
#why .seven table th:nth-child(2), #why .seven table th:nth-child(3){
    padding-left: 0px;
}

/* Contact Us Section */
#contact {
    margin-top: 25px;
}
#contact input[type="submit"]{
    background: #33C3F0;
    color: #fff;
    border: none;
}

/* Media Queries */
@media (max-width: 606px){
    .slider {
        display:  none;
    }
    header {
        text-align: center;
    }
    .logo {
        float: none;
    }
    nav {
        float: none;
    }


    input[type="submit"] {
        width: 100%;
    }
}
@media (max-width: 549px) {
    #services button {
        width: 100%;
    }
    #services .columns {
        margin-bottom: 25px;
    }
}